.loading {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.topMenu {
    margin-bottom: 1rem;
}

.todoList {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}